

.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#container {
  margin: ;
}

.center {
  text-align: center;
}

.top {
  padding-bottom: 25px;
}

.sm-container {
  float: left;
}

.description {
  display: flex;
  margin: 2rem;
}

.img-wrapper {
  width: auto;
  margin: 1rem;

}

.dish_img{
  max-width: 100%;
  margin: .2rem;
  height: auto;
  width: auto;

}

.text-wrapper {
  width: auto;
}
